body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fffaf3;
    color:#222222;
    margin: 0;
    padding: 0;
}

.section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.navbar {
    background-color : #9c27b0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar a {
    color: #ffb74d;
    text-decoration: none;
    padding: 14px 20px;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease;
    font-weight: 500;
}

.navbar a:hover {
    opacity: 0.7;
    transform: scale(1.05);
    color: #ff9800;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}

html {
    scroll-behavior: smooth;
}
